.dashboard{
    padding-bottom: 35px;
}
.dashboard__wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 8px;
}

.oweners{
    padding-bottom: 35px;
}
.oweners__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.sold{
    padding-bottom: 80px;
}
.sold__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.oweners__null, .solds__null{
    background: var(--color-section);
    width: 100%;
    padding: 100px 0;
    border-radius: 20px;

    display: flex;
    align-content: center;
    justify-content: center;
}