.dashboard{
    padding-bottom: 35px;
}
.dashboard__wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 5px;
}

.oweners{
    padding-bottom: 35px;
}
.oweners__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.sold{
    padding-bottom: 80px;
}
.sold__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}