:root{
    --color-bg-body:#f5e6ab ;
    --color-text-body:#362400 ;
    --color-section:#b0831b ;
    --color-card:#cc9f3f ;
    --color-card-hover:#ffd16e ;
    --color-border:#835900 ;
    --color-shadow:#362400 ;
    --color-small-element:#c88e11 ;
}
.dark{
    --color-bg-body:#241800 ;
    --color-text-body:#f5e6ab ;
    --color-section:#3b2e00;
    --color-card:#614e07 ;
    --color-card-hover:#685200 ;
    --color-border: #342300;
    --color-shadow:#707070 ;
    --color-small-element:#433100 ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    background: var(--color-bg-body);
    color: var(--color-text-body);
    font-family: "Intel One Mono";
    width: 100%;
    height: 100%;
}
.conteyner{
    max-width: 1280px;
    min-width: 390px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    cursor: pointer;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* .site__main{
    height: 100vh;
} */